# dependencies
node_modules/

# environment variables
.env
.env.local
.env.example

# build output
dist/
build/
.strapi/
.strapi-cloud.json

# logs
*.log
npm-debug.log*

# os
.DS_Store
Thumbs.db

# editor
.idea/
.vscode/
*.swp
*.swo

# uploads
public/uploads/*
!public/uploads/.gitkeep

# misc
.tmp/
coverage/
.strapi-updater.json
